
/* body { margin: 5px 10px;} */
html { background: #eee; }
body { background: #fff; padding: 5px 10px; max-width: 40em; margin: auto;}

p {text-indent: 3em; margin: 0; min-height: 1em; clear: both;}

.title, .music, .cast, .bigtitle {text-indent:0; text-align: center}
.bigtitle { font-size: 137%; }
.title { font-size: 112%;  }

.music { color: green; }
.lyrics { text-indent: 0; margin-left: 1em; font-style: italic;}
.cast { }

.unknown { color:red }

p.console { text-indent: 0; white-space: pre; font-size: 80%;}
.code, .console { font-family: Menlo, Monaco, DroidSansMono, monospace; }

.split { width: 99%; }
.split tr td { padding: 0; }
.split tr td:first-child { width: auto;}
.split tr td:last-child { width: auto; font-style: italic; padding-left: 1em;}
.ind, .ind1 { padding-left: 2em; }
.ind2 { padding-left: 2em; }
.ind3 { padding-left: 3em; }
.ind4 { padding-left: 4em; }
.ind5 { padding-left: 5em; }
.ind6 { padding-left: 6em; }
.ind7 { padding-left: 7em; }
.ind8 { padding-left: 8em; }

.quote { text-indent: 0; margin-left: 5em; }

h1, h2 { text-align: center }